.about-card {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 90vw;
    margin: 0 auto 10rem auto;
    max-width: 1200px;
    background-color: #9DB2BF;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.about-text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text p {
    color: white;
    max-width: 500px;
}

.about-text img {
    height: 150px;
    width: 150px;
    margin: 0 auto 2rem auto;

}

.about-image {
    height: 100%;
}

.about-image img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
}