h2 {
    text-align: center;
    margin: 3rem auto;
}

.auth-form {
    margin-top: 20vh;
    width: 90vw;
    max-width: 650px;
    margin: 0 auto 2rem auto;
    padding: 2rem;
    background: #9DB2BF;
    border-radius: 14px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
}

.auth-form-row {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.auth-form label {
    width: 50%;
    text-align: right;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
}

.auth-form input {
    padding: 8px 10px;
    border-radius: 6px;
    border: none;
}

.submit-btn {
    background-color: #E17100;
    color: white;
    box-shadow: 5px 5px 0px rgba(100, 100, 100, 0.7);
    height: 40px;
    width: 130px;
    border-radius: 0 !important;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-bottom: 1rem;
}

.submit-btn:hover {
    transform: scale(1.05);
}

.error {
    padding: 1rem;
    background-color: #FFE5CC;
    border-left: 4px solid #E17100;
    color: #E17100;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 1rem;
}

.text-danger{
    color: #FFE5CC;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

/*Regler för mobil*/
@media (max-width: 768px) {

}