.hero-wrapper {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom,
            #27374d00,
            #27374d48,
            #27374D), url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.hero-background::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(39, 55, 77, 0.35);
}

.hero-header {
    position: relative;
    z-index: 3;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;

    top: 40%;
    transform: translateY(-50%);
}