*,
*::before,
*::after {
    /*Gör så att padding och border räknas in i bredden*/
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Jura", sans-serif;
    /*62,5% av 16px ger 10px*/
    font-size: 62.5%;
}

body {
    background-image: url('/images/backgroundPattern.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    background-position: top left;
    min-height: 100vh;
    line-height: 1.5;
    /*Textstorlek 16px som standard*/
    font-size: 1.6rem;
}

h1 {
    /*Textstorlek 32px som standard*/
    font-size: 3.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}

h2 {
    /*Textstorlek 24 som standard*/
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

h3 {
    /*Textstorlek 20 som standard*/
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

h4 {
    /*Textstorlek 16 som standard*/
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

/*Element i formulär ärver font från body */
input,
button,
textarea,
select {
    font: inherit;
}

.main-nav {
    background: linear-gradient(180deg, #27374D, #27374d50, #27374d00);
    padding: 1rem 0 7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;

}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.2s ease;
}

.nav-list li a:hover {
    text-decoration: underline
}

.menu-toggle {
    display: none;
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

footer {
    background: linear-gradient(180deg, #27374d00, #27374d50, #27374D);
    padding: 7rem 0 1rem 0;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .nav-list.active {
        display: flex;              
    }
}