*,
*::before,
*::after {
    /*Gör så att padding och border räknas in i bredden*/
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    /*62,5% av 16px ger 10px*/
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    /*Textstorlek 16px som standard*/
    font-size: 1.6rem;
}

h1 {
    /*Textstorlek 32px som standard*/
    font-size: 3.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    /*Textstorlek 24 som standard*/
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

h3 {
    /*Textstorlek 20 som standard*/
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

h4 {
    /*Textstorlek 16 som standard*/
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

/*Element i formulär ärver font från body */
input,
button,
textarea,
select {
    font: inherit;
}