html {
    font-family: "Jura", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-nav {
    background: linear-gradient(180deg, #27374D, #27374d00);
    padding: 1rem 0;
    padding-bottom: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.2s ease;
}

.nav-list li a:hover {
    text-decoration: underline
}

.menu-toggle {
    display: none;
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .nav-list.active {
        display: flex;              
    }
}